.container {
    max-width: 900px;
    display: block;
    margin: auto;
    .input-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        .input-title {
            width: 40%;
            background-color: #fff;
            border: 1px solid green;
            padding: 12px;
            border-radius: 4px;
            color: gray;
            font-size: 14px;
            margin-bottom: 12px;
            box-sizing: border-box;
            outline: none;
        }
        .input-content {
            width: 40%;
            border: 1px solid green;
            min-height: 200px;
            padding: 12px;
            border-radius: 4px;
            color: gray;
            font-size: 14px;
            margin-bottom: 16px;
            box-sizing: border-box;
            outline: none;
        }
        button {
            cursor: pointer;
        }
        .save-btn {
            padding: 12px 50px;
            border-radius: 4px;
            background-color: #fff;
            border: 2px solid green;
            color: green;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            outline: none;
            &.cancel {
                border: 2px solid orange;
                color: orange;
            }
        }
        .action-wrapper {
            display: flex;
            justify-content: space-between;
            width: 40%;
        }
    }
    .card-content {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 16px;
        box-shadow: 4px 3px 9px rgba(0, 0, 0, 0.1);
        margin-bottom: 16px;
        transition: all ease 0.30s;
        position: relative;
        &:hover {
            cursor: pointer;
            transform: translateY(-2px);
            background-color: rgba(0, 0, 0, 0.15);
        }
        p {
            margin: 0;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
        }
        .date {
            font-size: 12px;
        }
        .content {
            margin-top: 20px;
            font-size: 14px;
        }
        .delete-btn {
            width: 30px;
            height: 30px;
            background-color: rgb(200, 6, 6);
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: #fff;
            position: absolute;
            top: -15px;
            right: -15px;
            &:hover {
                cursor:  pointer;
            }
        }
    }
}